html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
}

body {
  font-family: 'Be Vietnam', sans-serif;
  line-height: 1.3;
  scroll-behavior: smooth;
}

main {
  margin-left: 20vw;
}

ul {
  padding: 0;
  padding-left: 3rem;
  transition: all 0.15s ease-in-out;
}

.nav-section {
  padding-bottom: 2rem;
}

header.nav-section {
  padding-top: 2rem;
}

.nav-section h1 {
  font-weight: 800;
}

nav {
  position: fixed;
  max-width: 20vw;
  height: 100vh;
  background: rgb(189, 189, 189);
  padding-left: 1rem;
  overflow-y: scroll;
}

hr {
  margin-left: -1rem;
  height: 10px;
  margin-bottom: 1rem;
}

.datepicker {
  display: inline-block;
}

.navbar__datepicker {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.map {
  text-align: center;
  padding: 2rem 0;
}

section.barchart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chart-table {
  background-color: #eee;
  padding: 0 2rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.death-chart {
  display: none;
}

section.barchart h2 {
  padding-top: 1rem;
}

.chart {
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: end;
  grid-column-gap: 5px;
  height: 150px;
  width: 900px;
  margin: 2rem 0;
  transition: all 0.2s ease-in-out;
}

.chart div {
  position: relative;
  height: 0%;
  min-height: 2%;
  border-radius: 5px 5px 0 0;
  background-color: gray;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.chart div:hover {
  opacity: 0.8;
}

.chart > div > span:first-child {
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translate(50%);
  font-size: 0.75rem;
  color: rgb(78, 78, 78);
}

.chart > div > span:last-child {
  color: #353535;
  position: absolute;
  transform: translate(-50%);
  bottom: 100%;
}

.swiss-map{
  position: relative;
  max-width: 1000px;
  max-height: 1000px;
  margin: 0 auto;
}

.map__img {
  max-width: 100%;
  max-height: 100%;
}

.bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: gray;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
}

.bubble:hover {
  opacity: 0.8;
}

.bubble-canton {
  font-size: 11px;
}

.bubble-cases {
  font-size: 15px;
}

/* #chart {
  padding: 20px;
  padding-bottom: 0;
}

table {
  width: 100%;
  height: 380px;
}

.charttitle {
  text-align: center;
}

.bars td {
  vertical-align: bottom;
}

.bars div:hover {
  opacity: 0.6;
}

.legend {
  vertical-align: bottom;
  padding-left: 20px;
  text-align: left;
}

.legbox {
  display: block;
  clear: both;
}

.xaxisname {
  margin: 5px;
  color: #fff;
  font-size: 77%;
  padding: 5px;
  float: left;
} */